/* Nome das cores */
.color-name{
    color: crimson;
}

/* RGB */
.rgb{
    color: rgb(255,0,0);
}

.rgb-misturado{
    color: rgb(199,21,47);
}

/* RGBA */
.rgba{
    color: rgba(100, 0, 0, 0.3);
}

/*HEX */

.hex{
    color: #55a398;
}

.hex{
    color: #004da5;
}

/*Hexadecimal simplificado */

.hex-simplificado{
    color: #a5a;
}

.hex-simplificado2{
    color: #a6e;
}

/* HSL */


.hsl{
    color: hsl(100, 20%, 100%);
}

.hsl-2{
    color: hsl(17, 92%, 42%);
}

/* background color no corpo do site */
body{
    background-color: beige;
}

/* background color */
.backgroundcolor{
    background-color: #000;
    color: gold;
}

.bg-2{
    background-color: rgb(100, 50, 33);
    color: #00ffaa;
}
/* Opacidade no Backgroun Color */

.bg-sem-opacidade{
    background-color: red;
    opacity: 0.2;
}

.bg-com-opacidade{
    background-color: #888;
    color: black;
    opacity: 0.8;
}

/* RGBA resolvendo o problema */

.rgba-opacidade{
background-color: rgba(90,100,40,0.2);
color: blue;
opacity: 0.8;
}
/* Centralizar tudo que ta no index */
*{
    text-align: center;
}